.sidenav {
  height: 100%;
  width: 215px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav label {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.input_text_container {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 150px;
  margin-left:45%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  box-shadow: 0 0 6px 2px rgb(0 0 0 / 50%)
}

.input_text_container:hover {
  margin-left: 0;
  width: 100%;
}
.input_text_container:focus {
  margin-left: 0;
  width: 100%;
}

.box{
  box-shadow: 0 0 6px 6px rgb(0 0 0/ 56%)
}
.pagination{
  background-color: #111; 
  text-align: center;
  justify-content:center;
}
.page_link {
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.45;
  color: #818181;
  background-color: #111;
  border: 1px solid #dee2e6;
}

.pagelink {
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #818181;
  background-color: #111;
  border: 2px solid #dee2e6;
  box-shadow: 0 0 6px 6px rgb(0 0 0 /56%)
}

/* .split {
  height: 500px;
  width: 50%;
  position: absolute;
  padding-top: 20px;
  margin:20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  left: 50%;
  right: 0;
  background-color: red;
}

.centered {
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
} */
.collase_box{
  border: solid 1px black;
  border-radius: 10%;
}
.split{
  position: relative;
  height: 400px;
  float: left;
  padding: 20px;
  margin-left: 0px;
}
.left {
  width: 30%;
  height: 100%;
  z-index: 1010101010;
  /* border:solid 1px black; */
}

.right {
  width: 70%;
  /* border:solid 1px black; */
  height: 100%;
  z-index: 1010101010
}
/* .vl{
  border-left: 6px solid green;
  height: 500px;
  margin-left:50%;
} */
  